{% extends "_admin_template.html.twig" %}

{% block title %}
    Nouvelle categorie
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Nouvelle categorie</h1>

       {% include 'admin_category/_category_form.html.twig' %}
    </div>
{% endblock %}

