<div class="columns is-multiline">
            {% for category in categories %}
                <div class="column is-one-third">
                            <div class="media-content">
                                <div class="content">
                                    <p><strong>{{ category.name }}</strong>
                                    </p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            {% endfor %}
        </div>